/*@media all and (max-width : 1200px) {
    #portfolio .portfolio-items .portfolio-item {
        width: 50%;
    }
    
    #portfolio .portfolio-items .portfolio-item:last-child {
        width: 100%;
    }

}*/

@media all and (max-width: 786px) {
    section#contact .contact-data {
        text-align: center;
    }
}
/*
@media all and (max-width : 680px) {
    section {
        padding: 0 40px 50px;
    }
    #main-header .header-caption h1 {
        font-size: 3em;
    }
    
    #main-header .header-caption h2 {
        font-size: 1.5em;
    }
}

@media all and (max-width : 480px) {
    
}*/






















