* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
}

a {
    transition: all .3s;
}

span {
    color: green;
    font-weight: 400;
}


header#main-header {
    color: #fff;
    background-image: url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

header#main-header .header-caption {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}


header#main-header .header-caption h1 {
    font-size: 4em;
    font-weight: 300;
}

header#main-header .header-caption h2 {
    font-weight: 100;
}

